//
//  release.xcconfig
//  Shopping Tracker
//
//  Created by Samuel Rutherford on 12/13/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
API_BASE_URL = localhost:8080/api
